/*************** Reset *********************/

img {
  width: 100%;
  display: block;
  object-fit: cover;
  align-self: stretch;
  padding: 0rem;
}

/***************** Menu **********************/
header {
  background-color: blue;
}
.burger {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-left: 150px;
}
nav {
  margin-top: 60px;
  padding: 20px;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  margin-bottom: 7px;
  transition: 0.2s linear;
}
.burger.active .line:nth-child(1) {
  transform: rotate(45deg) translate(7px, 7px);
  transition: 0.2s linear;
}

.burger.active .line:nth-child(2) {
  opacity: 0;
  transition: 0.15s linear;
}

.burger.active .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: 0.2s linear;
}
nav.active .menu {
  display: block;
  background-color: #3c2208;
  position: absolute;
  top: 110px;
  left: 0px;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav.active .menu li {
  margin-left: 5%;
  list-style: none;
  margin-bottom: 15px;
  margin-top: 10px;
}

nav.active .menu a {
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
}

.menu {
  display: none;
  font-family: lora;
}

header {
  background-color: #3c2208;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
header .logo {
  display: flex;
  height: 100%;
  max-height: 150px;
  min-height: 80px;
  object-fit: contain;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 200px;
}

@media screen and (min-width: 800px) {
  header {
    background-color: #3c2208;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .burger {
    display: none;
  }
  nav {
    margin-top: 0px;
    padding: 0px;
  }
  header .logo {
    display: flex;
    height: 100%;
    max-height: 160px;
    min-height: 90px;
    object-fit: contain;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
  }
  header .menu {
    display: flex;
    list-style: none;
  }
  header ul {
    justify-content: right;
    margin-right: 80px;
  }
  .menu li {
    display: inline;
    margin-right: 50px;
    margin-left: 30px;
    cursor: pointer;
    margin-top: 105px;
    padding-bottom: 10px;
  }
  .menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-family: lora;
  }
}
/***************** footer **********************/
footer {
  background-color: #3c2208;
  color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.iconer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  gap: 10px;
  width: 100px;
  margin-inline: auto;
  padding-bottom: 80px;
}
footer p {
  padding: 5px;
  font-family: Spectral;
  text-align: center;
}
.footeroverskrift {
  font-weight: 600;
  text-align: center;
  padding-top: 40px;
}
footer .adresse {
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  gap: 100px;
  margin-top: 45px;
  order: -1;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  footer {
    background-color: #3c2208;
    color: #ffffff;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr;
    padding-bottom: 60px;
  }
  .iconer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 10px;
    width: 100px;
  }
  footer p {
    padding: 2px;
    font-family: Spectral;
    text-align: center;
  }
  .footeroverskrift {
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
  }
  footer .adresse {
    text-align: center;
    order: 0;
  }

  footer address {
    padding-top: 10px;
  }
}
/***************** main **********************/
h1 {
  font-family: lora;
  font-weight: 700;
}
h2 {
  font-family: lora;
  font-weight: 500;
}
p {
  font-family: Spectral;
  font-weight: 400;
}
a {
  font-family: Spectral;
  font-weight: 500;
}
