* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
  align-self: stretch;
  padding: 0;
}

.box{
  padding: 25px;
}

h1{
  text-align: center;
  padding: 20px;
  font-size: 3rem;
}

h2{
  margin-top: 10px;
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

main{
  background-color: #FFEDDF;
}

.grid_1-1-1 img:hover{
   transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}


@media (min-width: 1024px){
  .grid_1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
  }

  h1{
    font-size: 5rem;
  }

  h2{
    font-size: 2rem;
  }

  p {
  font-size: 1.5rem;
}

.hover-knap{
  padding: 20px 30px;
  font-size: 25px;

}

.produkter{
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-left: 30px;
 
}

.tekst{
  padding: 10px;
  margin-top: 180px;
}


}

.produkter img:hover{
   transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}



/* Knappen */
.hover-knap {
  display: inline-block;
  width: fit-content;
  padding: 10px 20px;
  background-color: #A05435; 
  border: 3px solid #833f25;
  color: white;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  
}

/* Hover-effekt */
.hover-knap:hover {
  background-color: #C59273; 
  transform: scale(1.1);
}

.info{
  text-align: center;
  padding: 10px;
}

.link{
  text-align: center;
  font-weight: 400;
  color: black;
  font-family: Spectral;
  font-weight: 500;
  font-size: 1.5rem;
}

.produkter{
  padding: 30px;
}


